.mainContainer {
    background: linear-gradient(319deg, rgba(255, 192, 218, 1) 0%, rgba(209, 218, 255, 1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    max-width: 1366px;
    max-height: 900px;
    width: 90%;
    height: 90%;
    border-radius: 8px;
    box-shadow: 8px 8px 20px rgba(31, 33, 54, 0.25);
    display: flex;
}

.orderContainer {
    padding: 2em;
}

/* ================== APP INTERFACE FILTER  ================== */

.interfaceButton {
    font-weight: bold;
    margin: 2em 0 1em;
    max-width: 500px;
    background-color: white;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
}

.interfaceButton input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.interfaceButton label {
    padding: 0.5em 3.5em;
    cursor: pointer;
    border-radius: 40px;
    margin-right: 0.5em;
    background-color: white;
    display: flex;
}

.interfaceButton input[type="radio"]:checked + label {
    background-color: #41098a;
    color: white;
    box-shadow: 2px 2px 4px #052934;
}

.interfaceButton label:hover {
    background-color: #b89ae6;
}

.filterIcon {
    font-size: 1.2rem;
    margin-right: 0.5em;
}

/* ================== PRODUCT LIST FILTER  ================== */

.filterButtonList {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0.5em 0;
    font-weight: bold;
    background-color: white;
    max-width: 500px;
    border-radius: 40px;
}

.filterButtonList > li:first-child {
    border-radius: 40px 0 0 40px;
}

.filterButtonList > li:last-child {
    border-radius: 0 40px 40px 0;
}

.filterButtonList input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.filterButtonList input[type="radio"]:checked + label {
    background-color: #41098a;
    box-shadow: 2px 2px 4px #052934;
    color: white;
}

.filterButtonList label {
    padding: 0.5em 2em;
    cursor: pointer;
    border-radius: 40px;
    background-color: white;
    margin-right: 0.5em;
}

.filterButtonList label:hover {
    background-color: #b89ae6;
}

.buttonFlex {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 1em;
}

/* ================== APP INTERFACE FILTER  ================== */

.listContainer {
    background-color: #EBF2F8;
    width: 35%;
    padding: 2em;
    border-radius: 8px 0 0 8px;
    overflow: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.item > button {
    border: none;
    border-radius: 40px;
    padding: 0.6em 2em;
    background-color: #B7F0A3;
    font-weight: bold;
    cursor: pointer;
}

.item > button:hover {
    filter: brightness(90%);
}

.item > button:active {
    filter: brightness(80%);
}

.itemDiv {
    padding: 1em;
    border: 4px solid white;
    border-radius: 4px;

}

.itemDivOdd {
    padding: 1em;
    background-color: white;
    border-radius: 4px;
}

.itemName {
    width: 180px;
}

.itemName > p:last-of-type {
    color: #606060;
    font-size: 0.8rem;
}

.productList {
    overflow: scroll;
    height: 550px;
}

.listContainer > h4 {
    color: #41098a;
    font-size: 1.2rem;
    margin-top: 2em;
    margin-bottom: 0.4em
}

/* ================== ORDER SECTION  ================== */

.orderSection {
    padding: 4.5em;
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderSection h4 {
    font-size: 1.2rem;
}

.titles {
    /*background-color: red;*/
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    font-weight: bold;
}

.itemList {
    /*background-color: antiquewhite;*/
    height: 70%;
    max-height: 600px;
    overflow: scroll;
}

.itemTitle {
    width: 270px;
    /*background-color: red;*/
}

.orderItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border: 1px solid #b89ae6;
    border-radius: 4px;
    margin-bottom: 0.5em;
}

.orderItem > p:nth-last-of-type(1) {
    /*background-color: red;*/
    width: 50px;
    text-align: right;
}

.quantityBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 200px;
}

.quantityBox p {
    /*background-color: red;*/
    width: 60px;
    text-align: center;
}

.quantityButton {
    background-color: #dbc6ff;
    color: white;
    padding: 0.3em;
    border-radius: 20px;
    margin: 0 0.2em;
    cursor: pointer;
}

.quantityButton:hover {
    filter: brightness(90%);
}

.quantityButton:active {
    filter: brightness(80%);
}

.removeButton {
    background-color: #db538e;
    color: white;
    padding: 0.3em;
    border-radius: 20px;
    margin: 0 0.2em;
    cursor: pointer;
}

.itemCost {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 1.2rem;
}

.itemCost p:first-of-type {
    margin-right: 2em;
}


.buttonGroup {
    display: flex;
    justify-content: center;
}

.buttonGroup button {
    border: none;
    padding: 0.5em 3em;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1.1rem;
}

.buttonGroup button:first-of-type {
    margin-right: 3em;
    background-color: #eaeaea;
    color: orangered;
}

.buttonGroup button:first-of-type:hover {
    background-color: #d0d0d0;
}

.buttonGroup button:last-of-type {
    background-color: #41098a;
    color: white
}

.buttonGroup button:last-of-type:hover {
    background-color: #360771;
}

.buttonGroup button:active {
    filter: brightness(80%);
}


/* ======================= ORDER SECTION ========================= */

.orderSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
}

.editButton {
    margin-right: 0 !important;
}

.orderSummaryContainer {
    overflow: scroll;
    height: 700px;
}

/* ======================= CONFIRM EDIT MODAL ========================= */

.modal {
    height: 250px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 2px 2px 10px rgba(54, 7, 113, 0.12);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal p:first-of-type {
    margin-bottom: 0.5em;
    font-size: 1.3rem;
    font-weight: bold;
}

.modal p:last-of-type {
    margin-bottom: 2em;
    text-align: center;
    line-height: 1.5rem;
}

.modalOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    z-index: 1;
}